@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

#education {
  margin-bottom: 1rem !important;
}

#experience {
  margin-top: 0.5rem !important;
}

.main#education {
  padding-bottom: 1rem !important;
}

.main#experience {
  padding-top: 0.5rem !important;
  margin-top: 0 !important;
}
