@import "./globalColor";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}

// .profile-image {
//   width: 150px;           /* Reduced from 200px */
//   height: 150px;          /* Reduced from 200px */
//   border: 0.5rem solid #2779dd;
//   border-radius: 50%;
//   box-shadow: 0 30px 30px -30px #0000001a;
//   object-fit: cover;
// }

// @media (max-width: 768px) {
//   .profile-image {
//     height: auto;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 200px;     /* Also reduced this for mobile */
//     width: 100%;
//   }
// }